.header-block {
  max-width: 600px; 
  text-wrap: balance;
}

.header-block h3 {
  font-size: 2.4rem;
  margin-bottom: 10px;
}

.header-block p {
  font-size: 1.1rem;
}

.hero-title {
  font-size: 2.5rem;
  font-weight: 700;
  background: linear-gradient(90deg, #004aad, #4da8ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0px 0px 12px rgba(77,168,255,0.4);
  text-align: center;
}

.hero-subtitle {
  font-size: 1.2rem;
  background: linear-gradient(90deg, #0066cc, #66c2ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}
