
.gallery-item img {
  transition: transform 0.4s ease-in-out;
}

.gallery-item:hover img {
  transform: scale(1.08);
}

.gallery-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /* background: rgba(13, 110, 253, 0.6); */
  opacity: 0;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.gallery-item:hover .overlay {
  opacity: 1;
}

.gallery-item .overlay a {
  color: #0d6efd;
  background-color: #fff;
  border-radius: 30px;
  padding: 8px 16px;
  font-weight: 500;
  text-decoration: none;
}

.gallery-item .overlay a:hover {
  background-color: #0d6efd;
  color: #fff;
}